{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAI API",
    "version": "2.3.0"
  },
  "servers": [
    {
      "url": "https://api.openai.com/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "in": "header"
      }
    },
    "schemas": {
      "ItemReferenceParam": {
        "properties": {
          "type": {
            "anyOf": [
              {
                "type": "string",
                "enum": ["item_reference"],
                "description": "The type of item to reference. Always `item_reference`.",
                "default": "item_reference"
              },
              {
                "type": "null"
              }
            ]
          },
          "id": {
            "type": "string",
            "description": "The ID of the item to reference."
          }
        },
        "type": "object",
        "required": ["id"],
        "title": "Item reference",
        "description": "An internal identifier for an item to reference."
      },
      "ReasoningSummaryContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["summary_text"],
            "description": "The content type. Always `summary_text`.",
            "default": "summary_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The reasoning summary text."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "ReasoningItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this reasoning item.",
                "example": "rs_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["reasoning"],
            "description": "The item type. Always `reasoning`.",
            "default": "reasoning"
          },
          "summary": {
            "items": {
              "$ref": "#/components/schemas/ReasoningSummaryContentParam"
            },
            "type": "array",
            "description": "Reasoning summary content associated with this item."
          },
          "content": {
            "anyOf": [
              {
                "type": "null"
              }
            ]
          },
          "encrypted_content": {
            "anyOf": [
              {
                "type": "string",
                "description": "An encrypted representation of the reasoning content."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "summary"]
      },
      "InputTextContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_text"],
            "description": "The type of the input item. Always `input_text`.",
            "default": "input_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The text input to the model."
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Input text",
        "description": "A text input to the model.",
        "x-unionDisplay": "section",
        "x-unionTitle": "Content Type"
      },
      "DetailEnum": {
        "type": "string",
        "enum": ["low", "high", "auto"],
        "x-enumDescriptions": {
          "auto": "Choose the detail level automatically.",
          "high": "Allows the model to \"see\" a higher-resolution version of the image, usually increasing input token costs.",
          "low": "Restricts the model to a lower-resolution version of the image."
        }
      },
      "InputImageContentParamAutoParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_image"],
            "description": "The type of the input item. Always `input_image`.",
            "default": "input_image"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 20971520,
                "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model.",
                "example": "file-123"
              },
              {
                "type": "null"
              }
            ]
          },
          "detail": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImageDetail"
                  },
                  {
                    "description": "The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Input image",
        "description": "An image input to the model. Learn about [image inputs](/docs/guides/vision)"
      },
      "InputFileContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_file"],
            "description": "The type of the input item. Always `input_file`.",
            "default": "input_file"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model.",
                "example": "file-123"
              },
              {
                "type": "null"
              }
            ]
          },
          "filename": {
            "anyOf": [
              {
                "type": "string",
                "description": "The name of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_data": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 33554432,
                "description": "The base64-encoded data of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "title": "Input file",
        "description": "A file input to the model."
      },
      "UserMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["user"],
            "description": "The message role. Always `user`.",
            "default": "user"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContentParamAutoParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContentParam"
                    }
                  ],
                  "description": "A piece of message content, such as text, an image, or a file.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "SystemMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["system"],
            "description": "The message role. Always `system`.",
            "default": "system"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "DeveloperMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["developer"],
            "description": "The message role. Always `developer`.",
            "default": "developer"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "FileCitationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["file_citation"],
            "description": "The citation type. Always `file_citation`.",
            "default": "file_citation"
          },
          "index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the file in the list of files."
          },
          "file_id": {
            "type": "string",
            "description": "The ID of the file.",
            "example": "file-123"
          },
          "filename": {
            "type": "string",
            "description": "The filename of the file cited."
          }
        },
        "type": "object",
        "required": ["type", "index", "file_id", "filename"]
      },
      "UrlCitationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["url_citation"],
            "description": "The citation type. Always `url_citation`.",
            "default": "url_citation"
          },
          "start_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the first character of the citation in the message."
          },
          "end_index": {
            "type": "integer",
            "minimum": 0,
            "description": "The index of the last character of the citation in the message."
          },
          "url": {
            "type": "string",
            "description": "The URL of the cited resource."
          },
          "title": {
            "type": "string",
            "description": "The title of the cited resource."
          }
        },
        "type": "object",
        "required": ["type", "start_index", "end_index", "url", "title"]
      },
      "OutputTextContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["output_text"],
            "description": "The content type. Always `output_text`.",
            "default": "output_text"
          },
          "text": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The text content."
          },
          "annotations": {
            "oneOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FileCitationParam"
                },
                "type": "array"
              },
              {
                "items": {
                  "$ref": "#/components/schemas/UrlCitationParam"
                },
                "type": "array"
              }
            ],
            "description": "Citations associated with the text content."
          }
        },
        "type": "object",
        "required": ["type", "text"]
      },
      "RefusalContentParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["refusal"],
            "description": "The content type. Always `refusal`.",
            "default": "refusal"
          },
          "refusal": {
            "type": "string",
            "maxLength": 10485760,
            "description": "The refusal text."
          }
        },
        "type": "object",
        "required": ["type", "refusal"]
      },
      "AssistantMessageItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this message item.",
                "example": "msg_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The item type. Always `message`.",
            "default": "message"
          },
          "role": {
            "type": "string",
            "enum": ["assistant"],
            "description": "The role of the message author. Always `assistant`.",
            "default": "assistant"
          },
          "content": {
            "oneOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/OutputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/RefusalContentParam"
                    }
                  ],
                  "description": "A piece of assistant message content, such as text or a refusal.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array"
              },
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "The message content, as a single string."
              }
            ],
            "description": "The message content, as an array of content parts."
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the message item."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "role", "content"]
      },
      "FunctionCallItemStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"]
      },
      "FunctionCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this function tool call.",
                "example": "fc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the function tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["function_call"],
            "description": "The item type. Always `function_call`.",
            "default": "function_call"
          },
          "name": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9_-]+$",
            "description": "The name of the function to call."
          },
          "arguments": {
            "type": "string",
            "description": "The function arguments as a JSON string."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallStatus"
                  },
                  {
                    "description": "The status of the function tool call."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "name", "arguments"]
      },
      "FunctionCallOutputItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of the function tool call output. Populated when this item is returned via API.",
                "example": "fc_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "call_id": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "description": "The unique ID of the function tool call generated by the model."
          },
          "type": {
            "type": "string",
            "enum": ["function_call_output"],
            "description": "The type of the function tool call output. Always `function_call_output`.",
            "default": "function_call_output"
          },
          "output": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 10485760,
                "description": "A JSON string of the output of the function tool call."
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContentParamAutoParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContentParam"
                    },
                    {
                      "$ref": "#/components/schemas/InputVideoContent"
                    }
                  ],
                  "description": "A piece of message content, such as text, an image, or a file.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "An array of content outputs (text, image, file) for the function tool call."
              }
            ],
            "description": "Text, image, or file output of the function tool call."
          },
          "status": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FunctionCallStatus"
                  },
                  {
                    "description": "The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["call_id", "type", "output"],
        "title": "Function tool call output",
        "description": "The output of a function tool call."
      },
      "UrlSourceParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["url"],
            "description": "The source type. Always `url`.",
            "default": "url"
          },
          "url": {
            "type": "string",
            "description": "The URL source."
          }
        },
        "type": "object",
        "required": ["type", "url"]
      },
      "ApiSourceParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["api"],
            "description": "The source type. Always `api`.",
            "default": "api"
          },
          "name": {
            "type": "string",
            "description": "The name of the API source."
          }
        },
        "type": "object",
        "required": ["type", "name"]
      },
      "WebSearchCallActionSearchParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["search"],
            "description": "The action type. Always `search`.",
            "default": "search"
          },
          "query": {
            "anyOf": [
              {
                "type": "string",
                "description": "The query string used for web search."
              },
              {
                "type": "null"
              }
            ]
          },
          "queries": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "The list of queries issued as part of this web search call."
              },
              {
                "type": "null"
              }
            ]
          },
          "sources": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/UrlSourceParam"
                    },
                    {
                      "$ref": "#/components/schemas/ApiSourceParam"
                    }
                  ],
                  "description": "A source referenced by a web search tool call.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "Sources used for the search."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallActionOpenPageParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["open_page"],
            "description": "The action type. Always `open_page`.",
            "default": "open_page"
          },
          "url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the page to open."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallActionFindInPageParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["find_in_page"],
            "description": "The action type. Always `find_in_page`.",
            "default": "find_in_page"
          },
          "url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the page to search within."
              },
              {
                "type": "null"
              }
            ]
          },
          "pattern": {
            "anyOf": [
              {
                "type": "string",
                "description": "The pattern to search for within the page."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "WebSearchCallItemParam": {
        "properties": {
          "id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The unique ID of this web search tool call.",
                "example": "ws_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search_call"],
            "description": "The item type. Always `web_search_call`.",
            "default": "web_search_call"
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the web search tool call."
              },
              {
                "type": "null"
              }
            ]
          },
          "action": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionSearchParam"
                  },
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionOpenPageParam"
                  },
                  {
                    "$ref": "#/components/schemas/WebSearchCallActionFindInPageParam"
                  }
                ],
                "description": "The web search action performed by the tool.",
                "discriminator": {
                  "propertyName": "type"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "FileSearchRetrievedChunksParam": {
        "properties": {
          "file_id": {
            "type": "string",
            "description": "The ID of the retrieved file."
          },
          "filename": {
            "type": "string",
            "description": "The filename of the retrieved file."
          },
          "text": {
            "type": "string",
            "description": "The retrieved text chunk."
          },
          "attributes": {
            "description": "Additional attributes associated with this chunk."
          },
          "score": {
            "anyOf": [
              {
                "type": "number",
                "description": "The relevance score for this chunk."
              },
              {
                "type": "null"
              }
            ]
          },
          "vector_store_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The vector store ID the chunk was retrieved from."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["file_id", "filename", "text", "attributes"]
      },
      "FileSearchCallItemParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of this file search tool call.",
            "example": "fs_123"
          },
          "type": {
            "type": "string",
            "enum": ["file_search_call"],
            "description": "The item type. Always `file_search_call`.",
            "default": "file_search_call"
          },
          "status": {
            "anyOf": [
              {
                "type": "string",
                "description": "The status of the file search tool call."
              },
              {
                "type": "null"
              }
            ]
          },
          "queries": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "description": "The search queries issued to the file search tool."
          },
          "results": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FileSearchRetrievedChunksParam"
                },
                "type": "array",
                "description": "Retrieved chunks returned by the file search tool."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["id", "type", "queries"]
      },
      "ItemParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ItemReferenceParam"
          },
          {
            "$ref": "#/components/schemas/ReasoningItemParam"
          },
          {
            "$ref": "#/components/schemas/UserMessageItemParam"
          },
          {
            "$ref": "#/components/schemas/SystemMessageItemParam"
          },
          {
            "$ref": "#/components/schemas/DeveloperMessageItemParam"
          },
          {
            "$ref": "#/components/schemas/AssistantMessageItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FunctionCallOutputItemParam"
          },
          {
            "$ref": "#/components/schemas/WebSearchCallItemParam"
          },
          {
            "$ref": "#/components/schemas/FileSearchCallItemParam"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        },
        "x-unionDisplay": "section",
        "x-unionTitle": "Input Item Types"
      },
      "IncludeEnum": {
        "type": "string",
        "enum": [
          "file_search_call.results",
          "web_search_call.action.sources",
          "message.input_image.image_url",
          "reasoning.encrypted_content",
          "message.output_text.logprobs"
        ],
        "description": "",
        "x-enumDescriptions": {
          "file_search_call.results": "includes file search results on file search call items.",
          "message.input_image.image_url": "includes image URLs from input image content.",
          "message.output_text.logprobs": "includes sampled logprobs in assistant messages.",
          "reasoning.encrypted_content": "includes encrypted reasoning content so that it may be rehydrated on a subsequent request.",
          "web_search_call.action.sources": "includes web search sources on web search call actions."
        }
      },
      "EmptyModelParam": {
        "properties": {},
        "type": "object",
        "required": []
      },
      "FunctionToolParam": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 64,
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "parameters": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/EmptyModelParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "strict": {
            "type": "boolean"
          },
          "type": {
            "type": "string",
            "enum": ["function"],
            "default": "function"
          }
        },
        "type": "object",
        "required": ["name", "type"]
      },
      "ApproximateLocationParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["approximate"],
            "description": "The location type. Always `approximate`.",
            "default": "approximate"
          },
          "country": {
            "anyOf": [
              {
                "type": "string",
                "description": "The country for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "region": {
            "anyOf": [
              {
                "type": "string",
                "description": "The region or state for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "city": {
            "anyOf": [
              {
                "type": "string",
                "description": "The city for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          },
          "timezone": {
            "anyOf": [
              {
                "type": "string",
                "description": "The IANA time zone name for the approximate user location."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["type"],
        "description": "An approximate user location to bias web search results."
      },
      "SearchContextSize": {
        "type": "string",
        "enum": ["low", "medium", "high"]
      },
      "WebSearchToolParam": {
        "properties": {
          "user_location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ApproximateLocationParam"
              },
              {
                "description": "An approximate user location to bias web search results."
              }
            ]
          },
          "search_context_size": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SearchContextSize"
              },
              {
                "description": "How much context to retrieve and include from web search results."
              }
            ]
          },
          "type": {
            "type": "string",
            "enum": ["web_search"],
            "description": "The type of the tool. Always `web_search`.",
            "default": "web_search"
          },
          "external_web_access": {
            "type": "boolean",
            "description": "Allow live internet access for web search. When false, the web search tool runs in offline/cache-only mode and will not fetch new external content."
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "RankerVersionType": {
        "type": "string",
        "enum": ["auto", "default-2024-11-15"]
      },
      "HybridSearchOptionsParam": {
        "properties": {
          "embedding_weight": {
            "type": "number",
            "description": "Weight to apply to embedding similarity scores when using hybrid search."
          },
          "text_weight": {
            "type": "number",
            "description": "Weight to apply to text similarity scores when using hybrid search."
          }
        },
        "type": "object",
        "required": [],
        "description": "Optional hybrid search weighting configuration."
      },
      "FileSearchRankingOptionsParam": {
        "properties": {
          "ranker": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RankerVersionType"
              },
              {
                "description": "The ranker version to use for reranking file search results."
              }
            ]
          },
          "score_threshold": {
            "type": "number",
            "description": "Minimum score a result must have to be included."
          },
          "hybrid_search": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HybridSearchOptionsParam"
              },
              {
                "description": "Optional hybrid search weighting configuration."
              }
            ]
          }
        },
        "type": "object",
        "required": [],
        "description": "Options that control ranking and filtering of file search results."
      },
      "ComparisonFilterParamEQParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["eq"],
            "description": "The filter type. Always `eq`.",
            "default": "eq"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamNEParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["ne"],
            "description": "The filter type. Always `ne`.",
            "default": "ne"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamGTParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["gt"],
            "description": "The filter type. Always `gt`.",
            "default": "gt"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamGTEParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["gte"],
            "description": "The filter type. Always `gte`.",
            "default": "gte"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamLTParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["lt"],
            "description": "The filter type. Always `lt`.",
            "default": "lt"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamLTEParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["lte"],
            "description": "The filter type. Always `lte`.",
            "default": "lte"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamINParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["in"],
            "description": "The filter type. Always `in`.",
            "default": "in"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamNINParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["nin"],
            "description": "The filter type. Always `nin`.",
            "default": "nin"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamContainsParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["contains"],
            "description": "The filter type. Always `contains`.",
            "default": "contains"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamNContainsParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["ncontains"],
            "description": "The filter type. Always `ncontains`.",
            "default": "ncontains"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamContainsAnyParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["containsany"],
            "description": "The filter type. Always `containsany`.",
            "default": "containsany"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "ComparisonFilterParamNContainsAnyParam": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 64,
            "description": "The metadata key to filter on."
          },
          "value": {
            "oneOf": [
              {
                "type": "string",
                "maxLength": 512
              },
              {
                "type": "integer"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "type": "string",
                      "maxLength": 512
                    },
                    {
                      "type": "integer"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                },
                "type": "array"
              }
            ],
            "description": "The value to compare the metadata key against."
          },
          "type": {
            "type": "string",
            "enum": ["ncontainsany"],
            "description": "The filter type. Always `ncontainsany`.",
            "default": "ncontainsany"
          }
        },
        "type": "object",
        "required": ["key", "type"]
      },
      "CompoundFilterParamOrParam": {
        "properties": {
          "filters": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamEQParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamGTParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamGTEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamLTParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamLTEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamINParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNINParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamContainsParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNContainsParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamContainsAnyParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNContainsAnyParam"
                },
                {
                  "$ref": "#/components/schemas/CompoundFilterParamAndParam"
                },
                {
                  "$ref": "#/components/schemas/CompoundFilterParamOrParam"
                }
              ],
              "description": "A filter expression that can be a comparison or a compound logical filter.",
              "discriminator": {
                "propertyName": "type"
              }
            },
            "type": "array",
            "description": "The list of filters to combine."
          },
          "type": {
            "type": "string",
            "enum": ["or"],
            "description": "The filter type. Always `or`.",
            "default": "or"
          }
        },
        "type": "object",
        "required": ["filters", "type"]
      },
      "CompoundFilterParamAndParam": {
        "properties": {
          "filters": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamEQParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamGTParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamGTEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamLTParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamLTEParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamINParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNINParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamContainsParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNContainsParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamContainsAnyParam"
                },
                {
                  "$ref": "#/components/schemas/ComparisonFilterParamNContainsAnyParam"
                },
                {
                  "$ref": "#/components/schemas/CompoundFilterParamAndParam"
                },
                {
                  "$ref": "#/components/schemas/CompoundFilterParamOrParam"
                }
              ],
              "description": "A filter expression that can be a comparison or a compound logical filter.",
              "discriminator": {
                "propertyName": "type"
              }
            },
            "type": "array",
            "description": "The list of filters to combine."
          },
          "type": {
            "type": "string",
            "enum": ["and"],
            "description": "The filter type. Always `and`.",
            "default": "and"
          }
        },
        "type": "object",
        "required": ["filters", "type"]
      },
      "FileSearchToolParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["file_search"],
            "description": "The type of the tool. Always `file_search`.",
            "default": "file_search"
          },
          "vector_store_ids": {
            "items": {
              "type": "string",
              "pattern": "vs_*"
            },
            "type": "array",
            "maxItems": 5,
            "minItems": 1,
            "description": "The vector store IDs to search over."
          },
          "max_num_results": {
            "type": "integer",
            "maximum": 50,
            "minimum": 1,
            "description": "The maximum number of results to return."
          },
          "ranking_options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FileSearchRankingOptionsParam"
              },
              {
                "description": "Options that control ranking and filtering of file search results."
              }
            ]
          },
          "filters": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ComparisonFilterParamEQParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamNEParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamGTParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamGTEParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamLTParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamLTEParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamINParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamNINParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamContainsParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamNContainsParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamContainsAnyParam"
              },
              {
                "$ref": "#/components/schemas/ComparisonFilterParamNContainsAnyParam"
              },
              {
                "$ref": "#/components/schemas/CompoundFilterParamAndParam"
              },
              {
                "$ref": "#/components/schemas/CompoundFilterParamOrParam"
              }
            ],
            "description": "A filter expression that can be a comparison or a compound logical filter.",
            "discriminator": {
              "propertyName": "type"
            }
          }
        },
        "type": "object",
        "required": ["type", "vector_store_ids"]
      },
      "ResponsesToolParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FunctionToolParam"
          },
          {
            "$ref": "#/components/schemas/WebSearchToolParam"
          },
          {
            "$ref": "#/components/schemas/FileSearchToolParam"
          }
        ],
        "discriminator": {
          "propertyName": "type"
        },
        "x-unionDisplay": "section",
        "x-unionTitle": "Tool Types"
      },
      "SpecificFileSearchParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["file_search"],
            "description": "The tool to call. Always `file_search`.",
            "default": "file_search"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "SpecificWebSearchParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["web_search"],
            "description": "The tool to call. Always `web_search`.",
            "default": "web_search"
          }
        },
        "type": "object",
        "required": ["type"]
      },
      "SpecificFunctionParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "The tool to call. Always `function`.",
            "default": "function"
          },
          "name": {
            "type": "string",
            "description": "The name of the function tool to call."
          }
        },
        "type": "object",
        "required": ["type", "name"]
      },
      "SpecificToolChoiceParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SpecificFileSearchParam"
          },
          {
            "$ref": "#/components/schemas/SpecificWebSearchParam"
          },
          {
            "$ref": "#/components/schemas/SpecificFunctionParam"
          }
        ]
      },
      "ToolChoiceValueEnum": {
        "type": "string",
        "enum": ["none", "auto", "required"]
      },
      "AllowedToolsParam": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["allowed_tools"],
            "description": "The tool choice type. Always `allowed_tools`.",
            "default": "allowed_tools"
          },
          "tools": {
            "items": {
              "$ref": "#/components/schemas/SpecificToolChoiceParam"
            },
            "type": "array",
            "maxItems": 128,
            "minItems": 1,
            "description": "The list of tools that are permitted for this request."
          },
          "mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolChoiceValueEnum"
              },
              {
                "description": "How to select a tool from the allowed set."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "tools"]
      },
      "ToolChoiceParam": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SpecificToolChoiceParam"
          },
          {
            "$ref": "#/components/schemas/ToolChoiceValueEnum"
          },
          {
            "$ref": "#/components/schemas/AllowedToolsParam"
          }
        ],
        "description": "Controls which tool the model should use, if any."
      },
      "MetadataParam": {
        "additionalProperties": {
          "type": "string",
          "maxLength": 512
        },
        "type": "object",
        "maxProperties": 16,
        "description": "Set of 16 key-value pairs that can be attached to an object. This can be         useful for storing additional information about the object in a structured         format, and querying for objects via API or the dashboard.\n        Keys are strings with a maximum length of 64 characters. Values are strings         with a maximum length of 512 characters."
      },
      "VerbosityEnum": {
        "type": "string",
        "enum": ["low", "medium", "high"]
      },
      "TextParam": {
        "properties": {
          "format": {
            "description": "The format configuration for text output.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TextFormatParam"
              },
              {
                "type": "null"
              }
            ]
          },
          "verbosity": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VerbosityEnum"
              },
              {
                "description": "Controls the level of detail in generated text output."
              }
            ]
          }
        },
        "type": "object",
        "required": []
      },
      "StreamOptionsParam": {
        "properties": {
          "include_obfuscation": {
            "type": "boolean",
            "description": "Whether to obfuscate sensitive information in streamed output. Defaults to `true`."
          }
        },
        "type": "object",
        "required": [],
        "description": "Options that control streamed response behavior."
      },
      "ReasoningEffortEnum": {
        "type": "string",
        "enum": ["none", "low", "medium", "high", "xhigh"]
      },
      "ReasoningSummaryEnum": {
        "type": "string",
        "enum": ["concise", "detailed", "auto"]
      },
      "ReasoningParam": {
        "properties": {
          "effort": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ReasoningEffortEnum"
                  }
                ],
                "description": "Controls the level of reasoning effort the model should apply. Higher effort may increase latency and cost."
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReasoningSummaryEnum"
                  },
                  {
                    "description": "Controls whether the response includes a reasoning summary."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": [],
        "description": "**gpt-5 and o-series models only** Configuration options for [reasoning models](https://platform.openai.com/docs/guides/reasoning)."
      },
      "TruncationEnum": {
        "type": "string",
        "enum": ["auto", "disabled"],
        "x-enumDescriptions": {
          "auto": "Let the service decide how to truncate.",
          "disabled": "Disable service truncation. Context over the model's context limit will result in a 400 error."
        }
      },
      "ServiceTierEnum": {
        "type": "string",
        "enum": ["auto", "default", "flex", "priority"]
      },
      "ConversationParam": {
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the conversation.",
            "example": "conv_123"
          }
        },
        "type": "object",
        "required": ["id"],
        "title": "Conversation object",
        "description": "The conversation that this response belongs to."
      },
      "CreateResponseBody": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string",
                "description": "The model to use for this request, e.g. 'gpt-5.2'."
              },
              {
                "type": "null"
              }
            ]
          },
          "input": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "type": "string",
                    "maxLength": 10485760
                  },
                  {
                    "items": {
                      "$ref": "#/components/schemas/ItemParam"
                    },
                    "type": "array"
                  }
                ],
                "description": "Context to provide to the model for the scope of this request. May either be a string or an array of input items. If a string is provided, it is interpreted as a user message."
              },
              {
                "type": "null"
              }
            ]
          },
          "previous_response_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the response to use as the prior turn for this request.",
                "example": "resp_123"
              },
              {
                "type": "null"
              }
            ]
          },
          "include": {
            "items": {
              "$ref": "#/components/schemas/IncludeEnum"
            },
            "type": "array"
          },
          "tools": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ResponsesToolParam"
                },
                "type": "array",
                "description": "A list of tools that the model may call while generating the response."
              },
              {
                "type": "null"
              }
            ]
          },
          "tool_choice": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ToolChoiceParam"
                  },
                  {
                    "description": "Controls which tool the model should use, if any."
                  }
                ]
              },
              {
                "type": "null"
              }
            ],
            "x-unionTitle": "ToolChoiceParam"
          },
          "metadata": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/MetadataParam"
                  },
                  {
                    "description": "Set of 16 key-value pairs that can be attached to an object. This can be         useful for storing additional information about the object in a structured         format, and querying for objects via API or the dashboard.\n        Keys are strings with a maximum length of 64 characters. Values are strings         with a maximum length of 512 characters."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "text": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TextParam"
                  },
                  {
                    "description": "Configuration options for text output."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number",
                "description": "Sampling temperature to use, between 0 and 2. Higher values make the output more random."
              },
              {
                "type": "null"
              }
            ]
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number",
                "description": "Nucleus sampling parameter, between 0 and 1. The model considers only the tokens with the top cumulative probability."
              },
              {
                "type": "null"
              }
            ]
          },
          "presence_penalty": {
            "anyOf": [
              {
                "type": "number",
                "description": "Penalizes new tokens based on whether they appear in the text so far."
              },
              {
                "type": "null"
              }
            ]
          },
          "frequency_penalty": {
            "anyOf": [
              {
                "type": "number",
                "description": "Penalizes new tokens based on their frequency in the text so far."
              },
              {
                "type": "null"
              }
            ]
          },
          "parallel_tool_calls": {
            "anyOf": [
              {
                "type": "boolean",
                "description": "Whether the model may call multiple tools in parallel."
              },
              {
                "type": "null"
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream response events as server-sent events."
          },
          "stream_options": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/StreamOptionsParam"
                  },
                  {
                    "description": "Options that control streamed response behavior."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "background": {
            "type": "boolean",
            "description": "Whether to run the request in the background and return immediately."
          },
          "max_output_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 16,
                "description": "The maximum number of tokens the model may generate for this response."
              },
              {
                "type": "null"
              }
            ]
          },
          "max_tool_calls": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1,
                "description": "The maximum number of tool calls the model may make while generating the response."
              },
              {
                "type": "null"
              }
            ]
          },
          "reasoning": {
            "anyOf": [
              {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ReasoningParam"
                  },
                  {
                    "description": "Configuration options for reasoning behavior."
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "safety_identifier": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64,
                "description": "A stable identifier used for safety monitoring and abuse detection."
              },
              {
                "type": "null"
              }
            ]
          },
          "prompt_cache_key": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 64,
                "description": "A key to use when reading from or writing to the prompt cache."
              },
              {
                "type": "null"
              }
            ]
          },
          "truncation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TruncationEnum"
              },
              {
                "description": "Controls how the service truncates the input when it exceeds the model context window."
              }
            ]
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string",
                "description": "Additional instructions to guide the model for this request."
              },
              {
                "type": "null"
              }
            ]
          },
          "store": {
            "type": "boolean",
            "description": "Whether to store the response so it can be retrieved later."
          },
          "service_tier": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceTierEnum"
              },
              {
                "description": "The service tier to use for this request."
              }
            ]
          },
          "top_logprobs": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 20,
                "minimum": 0,
                "description": "The number of most likely tokens to return at each position, along with their log probabilities."
              },
              {
                "type": "null"
              }
            ]
          },
          "conversation": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "type": "string",
                    "example": "conv_123"
                  },
                  {
                    "$ref": "#/components/schemas/ConversationParam"
                  }
                ],
                "description": "The conversation to associate this response with."
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": []
      },
      "IncompleteDetails": {
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason the response could not be completed."
          }
        },
        "type": "object",
        "required": ["reason"],
        "title": "Incomplete details",
        "description": "Details about why the response was incomplete."
      },
      "MessageRole": {
        "type": "string",
        "enum": ["user", "assistant", "system", "developer"]
      },
      "InputTextContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_text"],
            "description": "The type of the input item. Always `input_text`.",
            "default": "input_text"
          },
          "text": {
            "type": "string",
            "description": "The text input to the model."
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Input text",
        "description": "A text input to the model."
      },
      "FileCitationBody": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["file_citation"],
            "description": "The type of the file citation. Always `file_citation`.",
            "default": "file_citation"
          },
          "file_id": {
            "type": "string",
            "description": "The ID of the file."
          },
          "index": {
            "type": "integer",
            "description": "The index of the file in the list of files."
          },
          "filename": {
            "type": "string",
            "description": "The filename of the file cited."
          }
        },
        "type": "object",
        "required": ["type", "file_id", "index", "filename"],
        "title": "File citation",
        "description": "A citation to a file."
      },
      "UrlCitationBody": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["url_citation"],
            "description": "The type of the URL citation. Always `url_citation`.",
            "default": "url_citation"
          },
          "url": {
            "type": "string",
            "description": "The URL of the web resource."
          },
          "start_index": {
            "type": "integer",
            "description": "The index of the first character of the URL citation in the message."
          },
          "end_index": {
            "type": "integer",
            "description": "The index of the last character of the URL citation in the message."
          },
          "title": {
            "type": "string",
            "description": "The title of the web resource."
          }
        },
        "type": "object",
        "required": ["type", "url", "start_index", "end_index", "title"],
        "title": "URL citation",
        "description": "A citation for a web resource used to generate a model response."
      },
      "Annotation": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FileCitationBody"
          },
          {
            "$ref": "#/components/schemas/UrlCitationBody"
          }
        ],
        "description": "An annotation that applies to a span of output text.",
        "discriminator": {
          "propertyName": "type"
        }
      },
      "TopLogProb": {
        "properties": {
          "token": {
            "type": "string"
          },
          "logprob": {
            "type": "number"
          },
          "bytes": {
            "items": {
              "type": "integer"
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": ["token", "logprob", "bytes"],
        "title": "Top log probability",
        "description": "The top log probability of a token."
      },
      "LogProb": {
        "properties": {
          "token": {
            "type": "string"
          },
          "logprob": {
            "type": "number"
          },
          "bytes": {
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "top_logprobs": {
            "items": {
              "$ref": "#/components/schemas/TopLogProb"
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": ["token", "logprob", "bytes", "top_logprobs"],
        "title": "Log probability",
        "description": "The log probability of a token."
      },
      "OutputTextContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["output_text"],
            "description": "The type of the output text. Always `output_text`.",
            "default": "output_text"
          },
          "text": {
            "type": "string",
            "description": "The text output from the model."
          },
          "annotations": {
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "type": "array",
            "description": "The annotations of the text output."
          },
          "logprobs": {
            "items": {
              "$ref": "#/components/schemas/LogProb"
            },
            "type": "array"
          }
        },
        "type": "object",
        "required": ["type", "text", "annotations"],
        "title": "Output text",
        "description": "A text output from the model."
      },
      "TextContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text"],
            "default": "text"
          },
          "text": {
            "type": "string"
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Text Content",
        "description": "A text content."
      },
      "SummaryTextContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["summary_text"],
            "description": "The type of the object. Always `summary_text`.",
            "default": "summary_text"
          },
          "text": {
            "type": "string",
            "description": "A summary of the reasoning output from the model so far."
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Summary text",
        "description": "A summary text from the model."
      },
      "ReasoningTextContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["reasoning_text"],
            "description": "The type of the reasoning text. Always `reasoning_text`.",
            "default": "reasoning_text"
          },
          "text": {
            "type": "string",
            "description": "The reasoning text from the model."
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "Reasoning text",
        "description": "Reasoning text from the model."
      },
      "RefusalContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["refusal"],
            "description": "The type of the refusal. Always `refusal`.",
            "default": "refusal"
          },
          "refusal": {
            "type": "string",
            "description": "The refusal explanation from the model."
          }
        },
        "type": "object",
        "required": ["type", "refusal"],
        "title": "Refusal",
        "description": "A refusal from the model."
      },
      "ImageDetail": {
        "type": "string",
        "enum": ["low", "high", "auto"],
        "x-enumDescriptions": {
          "auto": "Choose the detail level automatically.",
          "high": "Allows the model to \"see\" a higher-resolution version of the image, usually increasing input token costs.",
          "low": "Restricts the model to a lower-resolution version of the image."
        }
      },
      "InputImageContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_image"],
            "description": "The type of the input item. Always `input_image`.",
            "default": "input_image"
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "description": "The URL of the image to be sent to the model. A fully qualified URL or base64 encoded image in a data URL."
              },
              {
                "type": "null"
              }
            ]
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "detail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageDetail"
              },
              {
                "description": "The detail level of the image to be sent to the model. One of `high`, `low`, or `auto`. Defaults to `auto`."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "image_url", "file_id", "detail"],
        "title": "Input image",
        "description": "An image input to the model. Learn about [image inputs](/docs/guides/vision)."
      },
      "InputFileContent": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["input_file"],
            "description": "The type of the input item. Always `input_file`.",
            "default": "input_file"
          },
          "file_id": {
            "anyOf": [
              {
                "type": "string",
                "description": "The ID of the file to be sent to the model."
              },
              {
                "type": "null"
              }
            ]
          },
          "filename": {
            "type": "string",
            "description": "The name of the file to be sent to the model."
          },
          "file_url": {
            "type": "string",
            "description": "The URL of the file to be sent to the model."
          }
        },
        "type": "object",
        "required": ["type", "file_id"],
        "title": "Input file",
        "description": "A file input to the model."
      },
      "MessageStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"]
      },
      "Message": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["message"],
            "description": "The type of the message. Always set to `message`.",
            "default": "message"
          },
          "id": {
            "type": "string",
            "description": "The unique ID of the message."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MessageStatus"
              },
              {
                "description": "The status of item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
              }
            ]
          },
          "role": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MessageRole"
              },
              {
                "description": "The role of the message. One of `unknown`, `user`, `assistant`, `system`, `critic`, `discriminator`, `developer`, or `tool`."
              }
            ]
          },
          "content": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/InputTextContent"
                },
                {
                  "$ref": "#/components/schemas/OutputTextContent"
                },
                {
                  "$ref": "#/components/schemas/TextContent"
                },
                {
                  "$ref": "#/components/schemas/SummaryTextContent"
                },
                {
                  "$ref": "#/components/schemas/ReasoningTextContent"
                },
                {
                  "$ref": "#/components/schemas/RefusalContent"
                },
                {
                  "$ref": "#/components/schemas/InputImageContent"
                },
                {
                  "$ref": "#/components/schemas/InputFileContent"
                },
                {
                  "$ref": "#/components/schemas/InputVideoContent"
                }
              ],
              "description": "A content part that makes up an input or output item.",
              "discriminator": {
                "propertyName": "type"
              }
            },
            "type": "array",
            "description": "The content of the message"
          }
        },
        "type": "object",
        "required": ["type", "id", "status", "role", "content"],
        "title": "Message",
        "description": "A message to or from the model."
      },
      "FunctionCallStatus": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"],
        "x-enumDescriptions": {
          "completed": "Model has finished sampling this item.",
          "in_progress": "Model is currently sampling this item.",
          "incomplete": "Model was interrupted from sampling this item partway through. This can occur, for example, if the model encounters a stop token or exhausts its output_token budget."
        }
      },
      "FunctionCall": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function_call"],
            "description": "The type of the item. Always `function_call`.",
            "default": "function_call"
          },
          "id": {
            "type": "string",
            "description": "The unique ID of the function call item."
          },
          "call_id": {
            "type": "string",
            "description": "The unique ID of the function tool call that was generated."
          },
          "name": {
            "type": "string",
            "description": "The name of the function that was called."
          },
          "arguments": {
            "type": "string",
            "description": "The arguments JSON string that was generated."
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionCallStatus"
              },
              {
                "description": "The status of the function call item that was recorded."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "id", "call_id", "name", "arguments", "status"],
        "title": "Function call",
        "description": "A function tool call that was generated by the model."
      },
      "FunctionCallOutputStatusEnum": {
        "type": "string",
        "enum": ["in_progress", "completed", "incomplete"]
      },
      "FunctionCallOutput": {
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function_call_output"],
            "description": "The type of the function tool call output. Always `function_call_output`.",
            "default": "function_call_output"
          },
          "id": {
            "type": "string",
            "description": "The unique ID of the function tool call output. Populated when this item is returned via API."
          },
          "call_id": {
            "type": "string",
            "description": "The unique ID of the function tool call generated by the model."
          },
          "output": {
            "oneOf": [
              {
                "type": "string",
                "description": "A JSON string of the output of the function tool call."
              },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/InputTextContent"
                    },
                    {
                      "$ref": "#/components/schemas/InputImageContent"
                    },
                    {
                      "$ref": "#/components/schemas/InputFileContent"
                    }
                  ],
                  "description": "A content part that makes up an input or output item.",
                  "discriminator": {
                    "propertyName": "type"
                  }
                },
                "type": "array",
                "description": "An array of output contents (images, files, text) for the function tool call."
              }
            ]
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FunctionCallOutputStatusEnum"
              },
              {
                "description": "The status of the item. One of `in_progress`, `completed`, or `incomplete`. Populated when items are returned via API."
              }
            ]
          }
        },
        "type": "object",
        "required": ["type", "id", "call_id", "output", "status"],
        "title": "Function call output",
        "description": "A function tool call output that was returned by the tool."
      },
      "FileSearchToolCallStatusEnum": {
        "type": "string",
        "enum": [
          "in_progress",
          "searching",
          "completed",
          "incomplete",
          "failed"
        ]
      },
      "FileSearchResult": {
        "properties": {
          "file_id": {
            "type": "string"
          },
[...]
